## ignore file for git
#
# @(#) : git ignore file for code of contests
#
# @author	Furukawa, Atsushi <atsushifx@aglabo.com>
# @version	1.0.1
# @date		2022-07-25
#
# @description
# gitignore for code of contests.
# this file is common settings about os, editor created files, setting files
#<<

##  General settings

##
#	OS created files
#
.DS_Store
thumbs.db

##
#	backup
$~*
~*
*~
*tmp
*swp

# Log files (if you are creating logs in debug mode, uncomment this)
*.log

## Visual Studio Code settings
#
### visualstudiocode

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

### online judge tools
**/*.in
**/*.out

